* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgba(0, 0, 0, 0.5);
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav img {
    height: 40px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 20px;
}

nav a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    color: #f1c40f;
}

header {
	background-image: url(images/Avengers_Assemble.webp);
	background-repeat: no-repeat;
	background-size:cover;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
}

h1 {
	font-size: 60px;
	text-shadow: 3px 3px #333;
}

p {
	font-size: 30px;
	margin-top: 20px;
	text-shadow: 2px 2px #333;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 50px;
    height:  80%;
    margin: 0 auto;
   
}

section {
	flex-basis: 30%;
	margin: 20px;
	padding: 20px;
	box-shadow: 3
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
  }
  
