{% extends 'base.html' %}

{% block content %}
    {% include 'partials/navbar.html' %}

    <div class="container mt-5">
        <div class="row">
            {% if user.is_authenticated %}
                {% for film in films %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">{{ film.title }}</h5>
                                <p class="card-text">Release Date: {{ film.release_date|date:"F d, Y" }}</p>
                                <p class="card-text">Nationality: {{ film.created_in_country }}</p>
                                <p class="card-text">Categories: {{ film.category.all|join:", " }}</p>
                                <p class="card-text">Directors: {{ film.director.all|join:", " }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-md-12">
                    <div class="alert alert-info">
                        <p>You need to <a href="{% url 'accounts:login' %}">login</a> or
                            <a href="{% url 'accounts:signup' %}">sign up</a> to view the films.</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
