/* Default styles for navbar */
nav {
    background-color: #1E1E1E;
    padding: 20px 0;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h1 {
    color: #FFF;
    font-size: 24px;
    margin: 0;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin-left: 20px;
    position: relative;
  }
  
  a {
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 3px;
    transition: all 0.2s ease;
    display: block;
  }
  
  a:hover {
    background-color: #FFF;
    color: #1E1E1E;
  }
  
  /* Styles for smaller screens */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: flex-start;
    }
    
    li {
      display: block;
      margin: 10px 0;
    }
    
    li:before {
      position: static;
      display: none;
    }
  }
  
  