{% extends 'base.html' %}

{% block content %}
  <h2>Home</h2>
  <div class="row">
    {% for film in films %}
      <div class="col-md-4 mb-4">
        <h3>{{ film.title }}</h3>
        <p>{{ film.description }}</p>
        <h4>Reviews</h4>
        {% for review in film.review_set.all %}
          <p>{{ review.review_text }}</p>
          <p>Rating: {{ review.rating }}</p>
          <p>Date: {{ review.review_date }}</p>
        {% empty %}
          <p>No reviews yet.</p>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
