/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Set default font family and size */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-image: url("images/main_page.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Style the navigation bar */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #f00;
}

/* Style the main content */
main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    font-size: 120px;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-top: 40%;
    color: rgb(0, 0, 0);

    text-align: center;
  }
  
  h1:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
  }

/* Style the footer */
footer {
    background-color: #eee;
    text-align: center;
    padding: 15px;
    margin-top: 50px;

}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
/* Mobile styles (up to 767px) */
@media screen and (max-width: 767px) {
    header {
        padding: 5px;
    }
    
    nav ul li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }
    h1{
        font-size: 50px;
    }
}

/* Tablet styles (768px to 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        padding: 10px;
    }
}

/* Desktop styles (1024px and up) */
@media screen and (min-width: 1024px) {
    header {
        padding: 20px;
    }
    
    nav ul li {
        display: inline-block;
        margin-right: 20px;
    }
    
    footer {
        margin-top: 100px;
    }
}
/* Style the grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Style the image and paragraph */
  .grid-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .grid-item img {
    max-width: 100%;
    height: auto;
  }
  
  .grid-item p {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 10px;
  }
  
  /* Style the button */
  .grid-item button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .grid-item button:hover {
    background-color: #f00;
  }
  